code/*.c
code/*.html
code/*.so
code/auxillary/ab_convert
code/auxillary/*.o
code/auxillary/t
tests/.coverage
code/auxillary/CMakeCache.txt
code/auxillary/CMakeFiles/
code/auxillary/Makefile
code/auxillary/cmake*
tmp*
build
*~
__pycache__
example_full/cc
example_full/wind
example_full/output
