[run]
plugins = Cython.Coverage
[report]
omit =
    # don't report on coverage of the test files themselves
    test*
    # the following are part of the cython library
    array.pxd
    stringsource
    # the following are part of the python3 library
    */python3/dist-packages/*
